body {
  
  color: #000000;
  font-family: Georgia, Verdana, sans-serif;
  margin-left: 180px; 
  background-color: rgba(250, 240, 230)
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
 
}


div {
  border-style: solid;
  border-bottom-width: thin;
  border-color: white
}


p.indent{
  text-indent: 10px;
}

/*body {
    min-width: 500x;
}*/

div {
  border-radius: 100px; 
 
}

#header {
  height: 10px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  clear: both;
  position: relative;
}



p.indent {
 text-indent: -5px
}


div{
  width: 850px;
}


.sidebar {
height: 220%;
width: 160px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: darkseagreen;
}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}
  
div1{
  border-radius: 10px;
}

body {
  background-image: url("https://thumbs.gfycat.com/FlakyOnlyAllosaurus-size_restricted.gif");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
